.search_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.search_container h1{
    margin-bottom: 1em;

}

.search_container p{
    margin-bottom: 30px;
}

.nopost {
    text-align: center;
}